# ncp api
NCP_CLIENT_ID=your_client_id
NCP_CLIENT_SECRET=your_client_secret

# freenewsapi
FREENEWS_API_KEY=your_api_key


# Main DB, 없을 경우 mock으로 동작
DEDUP_DB_HOST=
DEDUP_DB_USER=root
DEDUP_DB_PASSWORD=
DEDUP_DB_NAME=db
